%p 
  #notice
  = notice

%h1 Tournament Bracket

%table
  - (1..@tournament.max_rounds).each do |round|
    %th="Round #{round}"

  %tr
  - (1..@tournament.max_rounds).each do |round|
    %td
      - matches = Match.find(:all, :conditions => {:tournament_id => @tournament.id, :tournament_round => round})
      - if matches.size > 0
        - matches.each do |match|
          = render :partial => 'tournament_match_bracket', :locals => {:match => match}
      - else
        Winner
        - if @tournament.first_place
          %br
          %b
            - bot = Sumobot.find(@tournament.first_place)
            = bot.botname 
     
%br

= link_to 'Edit', edit_tournament_path(@tournament) 
|
= link_to 'Back', tournaments_path 
