%h1="Sumobot Competitions Administration"
%p
 = "Let the games begin!"
- @sumobots = Sumobot.find(:all)
= "A total of #{pluralize(@sumobots.size, "sumobot")} registered."
%br
= link_to "Quick Match", new_match_path
%br
= link_to "Setup a new Tournament", new_tournament_path
%br
= link_to "Manage Contenders", admin_contenders_path
%br
= link_to "Post Admin message", new_message_path
