%p.left.flickr
  %iframe{:src => 'http://www.flickr.com/slideShow/index.gne?tags=sumo13', :width=>400, :height=>280, :frameborder=>0}

%h1="Sumobot Competitions"
%p
  ="Welcome to the Hive13 Sumobot Competition website.  Here you can view the"
  ="contenders and their sumobots.  You can also check for upcoming events and"
  ="matches.  The bracket systems for current matches as well as current scores"
  ="are also displayed."
%p
  ="Tag your flickr images as"
  %b
    sumo13
  ="to have them show up on the home page.  This site is a work in progress so"
  ="not all features maybe working at this time."
%p
  ="Enjoy!  --Hive13 Staff"
= "There are #{pluralize(Contender.find(:all).size, "contender")} registered."
= "A total of #{pluralize(Sumobot.find(:all).size, "sumobot")} registered."
%br
- if contender_signed_in?
  - number_of_bots = @contender.sumobots.find(:all).size
  = "You have #{pluralize(number_of_bots, "sumobot")} registered"
  %br
  =link_to "Register a sumobot", new_sumobot_path
%br
=link_to "View all sumobots", sumobots_path
%br
=link_to "Associated Hackerspaces/Organizations", hackerspaces_path
%br
=link_to "View all matches", matches_path
%br
=link_to "View Tournamenets", tournaments_path
- if current_contender.team
  - approvals = TeamApproval.find(:all, :conditions => {:team_id => current_contender.team.id, :status => "apply"})
  - if approvals.size > 0
    #pending_approvals
      =link_to "You have #{pluralize(approvals.size, "team request", "team requests")} awaiting approval", team_approvals_path
- message = Message.find(:last, :conditions => {:msgtype => "admin"})
- if message
  %br
  #admin_msg
    = message.msg

