<h1>Registered Sumobots</h1>

<% if @sumobots.size < 1 %>
  There are currently no sumobots registered
  <br>
<% else %>
<table>
  <tr>
    <th></th>
    <th>Bot</th>
    <th>Owner</th>
    <th>Org</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sumobots.each do |sumobot| %>
  <% owner = Contender.find(sumobot.contender_id) %>
  <tr>
    <td>
      <% if sumobot.pic.exists? %>
	<%= image_tag sumobot.pic.url(:thumb) %>
      <% end %>
    </td>
    <td>
    <% if sumobot.bot_url.size > 0 %>
	<%= link_to sumobot.botname, sumobot.bot_url %>
    <% else %>
	<%= sumobot.botname %>
    <% end %>
    </td>
    <td>
       <%= owner.username %>
    </td>
    <td>
       <% if owner.hackerspace %>
         <% if owner.hackerspace.pic.exists? %>
            <% if owner.hackerspace.url %>
	      <%= link_to image_tag(owner.hackerspace.pic.url(:thumb), :border=>0), owner.hackerspace %>
	    <% else %>
	      <%= image_tag(owner.hackerspace.pic(:thumb)) %>
	    <% end %>
	 <% elsif owner.hackerspace.url %>
	  <%= " (" %>
	  <%= link_to owner.hackerspace.name, owner.hackerspace %>
	  <%= ")" %>
	 <% else %>
	  <%= " (#{owner.hackerspace})" %>
	 <% end %>
       <% end %>
    </td>
    <td><%= link_to 'Show Details', sumobot %></td>
    <% if can? :update, sumobot %>
        <td><%= link_to 'Edit Bot', edit_sumobot_path(sumobot) %></td>
        <td><%= link_to 'Delete Bot', sumobot, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>

<br />

<% if contender_signed_in? %> 
  <%= link_to 'Register a new Sumobot', new_sumobot_path %>
<% end %>
