%p
  .notice
  =notice

- if @sumobot.pic.exists?
  =link_to image_tag(@sumobot.pic.url(:small), :border=>0), @sumobot.pic.url
%h1=@sumobot.botname
- if @sumobot.bot_url.size > 0
  = link_to "Bot Homepage", show_external_link(@sumobot.bot_url)
  %br
Bot Owner:
= @sumobot.contender.username
-if @sumobot.contender.team
  ="[#{@sumobot.contender.team.name}]"

%table#bot_matches_table
  %tr
    %th#bot_matches_hdr
      = "Matches"
    %th#bot_wins_hdr
      = "Wins"
    %th#bot_loses_hdr
      = "Loses"
    %th#bot_ties_hdr
      = "Ties"
  %tr
    %td#bot_matches
      = @sumobot.matches
    %td#bot_wins
      = @sumobot.wins
    %td#bot_loses
      = @sumobot.loses
    %td#bot_ties
      = @sumobot.ties

- if contender_signed_in?
  - if can? :update, @sumobot
    = link_to 'Edit Bot Info', edit_sumobot_path(@sumobot) 
    = "|"
= link_to 'Back', sumobots_path 
