%p#notice
  = notice

%p
  %h1
    - if @match.first_bot_id
      = Sumobot.find(@match.first_bot_id).botname
    - else
      = "TBD"
    Versus
    - if @match.second_bot_id
      = Sumobot.find(@match.second_bot_id).botname
    - else
      = "TBD"


- if @match.tournament_id then
%b
  = link_to "Tournament Match", tournament_path(@match.tournament_id)
  %br

- if @match.winning_bot then
  %b
    = Sumobot.find(@match.winning_bot).botname
    Wins!!
- else
  %table
    %tr
      %td
        = "Round #{@match.round}"
      %td
        Time Remaining
        %br
        -if @match.start then
  
        -else
          Match not started

%table
  %tr
    %th
    %th
      - if @match.first_bot_id
        = Sumobot.find(@match.first_bot_id).botname
      - else
        = "TBD"
    %th
      - if @match.second_bot_id
        = Sumobot.find(@match.second_bot_id).botname
      - else
        = "TBD"
  %tr
    %td
      Round 1
    %td
      = @match.first_bot_round1_score
    %td
      = @match.second_bot_round1_score
  - if @match.round > 1 then
    %tr 
      %td
        Round 2
      %td
        = @match.first_bot_round2_score
      %td
        = @match.second_bot_round2_score
    - if @match.round > 2 then
      %tr 
        %td
          Round 3
        %td
          = @match.first_bot_round3_score
        %td
          = @match.second_bot_round3_score
      - if @match.winning_bot then
        %tr
          %td
            %b
              Final
          %td
            = @match.bot1_final_score
          %td
            = @match.bot2_final_score
    -elsif @match.winning_bot then
      %tr
        %td
          %b
            Final
        %td
          = @match.bot1_final_score
        %td
          = @match.bot2_final_score

%br
- if can? :manage, @match then
  - if not @match.winning_bot then
    - if @match.first_bot_id and @match.second_bot_id
      = link_to 'Start Round', :action => "start_round"
      |
      = link_to "Grant #{Sumobot.find(@match.first_bot_id).botname} a point", :action => "grant_point", :bot_id => @match.first_bot_id
      |
      = link_to "Grant #{Sumobot.find(@match.second_bot_id).botname} a point", :action => "grant_point", :bot_id => @match.second_bot_id
      | 
  = link_to 'Delete Match Info', @match, :confirm => 'Are you sure?', :method => :delete
  |
- if @match.tournament_id
  = link_to 'Back', tournament_path(@match.tournament_id)
- else
  = link_to 'Back', matches_path
